@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Tilt+Warp&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Russo+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  width: 100vw;
  font-family: "Gajraj One", cursive;
  color: rgb(195, 195, 195);
  display: flex;
  flex-direction: column;
  background-image: repeating-linear-gradient(
    36deg,
    rgba(14, 14, 14, 0.1),
    rgba(255, 255, 255, 0.1) 1px,
    transparent 0px,
    transparent 2px
  );
}

a {
  color: rgb(195, 195, 195);
}

.grad {
  background-image: radial-gradient(
    circle,
    rgba(236, 13, 192, 0.598),
    rgba(27, 220, 91, 0.202),
    rgba(194, 255, 245, 0.048)
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-image: linear-gradient(to bottom right, #170537, #d238fd);
  height: 100%;
  width: 100%;
}

.btn {
  border-radius: 25mm;
  border: none;
  text-shadow: 2px 2px #1d014e;
}

.btn-ghost:hover {
  background-color: rgba(128, 224, 224, 0);
  font-style: italic;
}

.welcome-container {
  margin: 0.5rem;
  margin-top: 18rem;
  line-height: 4rem;
}

/* nav */
.wallet-adapter-button {
  color: #64ed14 !important;
  text-shadow: 2px 2px #210059 !important;
  background: #e60073 !important;
  font: 20px Gajraj One, cursive !important;
  border-radius: 25mm !important;
  text-transform: lowercase;
}

.wallet-adapter-button:hover {
  font-style: italic !important;
}

.navbar {
  background-color: rgba(128, 224, 224, 0);
  height: 10vh;
  text-shadow: 3px 3px #1d014e;
  padding-top: 2%;
  padding-bottom: 2%;
}

.modal {
  background-color: rgba(128, 224, 224, 0);
  backdrop-filter: blur(8px);
}

.modal-box {
  box-shadow: 10px 10px 160px 140px rgb(34, 34, 34);
  color: rgb(192, 192, 192);
  background-color: rgb(34, 34, 34);
}

.py-4 {
  text-align: start;
  font-size: 1.2rem;
  font-family: "Russo One", sans-serif;
}

.py-4 h1 {
  font-size: 1.6rem;
  margin-bottom: 2%;
}

.blue {
  color: rgb(0, 255, 251);
  font-size: x-large;
}

/* middle */
.central-outer-container {
  /* height: 69vh;
  width: 100vw;
  position: relative; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.central-inner-container {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 2mm solid #190241; */
}

/* landing */
.title {
  font-size: 3.5rem;
  font-family: "Russo One", sans-serif;
  text-align: left;
  margin: 1rem;
  font-weight: 700;
  width: 22rem;
}

.subtitle {
  font-size: 1.3rem;
  /* font-family: "Tilt Warp"; */
  font-family: "Russo One", sans-serif;
  text-align: left;
  margin: 1rem;
}

.app-title {
  width: 40px;
  margin-top: -1%;
  margin-left: 0.4%;
  align-self: start;
  font-size: 2.5rem;
  word-break: break-all;
  color: #e60073;
  text-shadow: 3px 3px #010101;
  font-style: italic;
  position: absolute;
}

.app-title-top {
  width: 40px;
  margin-left: 0.8%;
  margin-top: -0.2%;
  font-size: 2.5rem;
  word-break: break-all;
  color: #64ed14;
  text-shadow: 3px 3px #010101;
  font-style: italic;
  position: absolute;
}

.timer {
  font-style: italic;
  font-size: 4.5em;
  margin-top: 2rem;
  margin-bottom: 1.5%;
}

.text {
  opacity: 0.5;
  font-style: italic;
  width: 15%;
  margin: auto;
  margin-top: 3%;
  text-align: justify;
}

.huge-ear img {
  /* border: 2mm solid #190241; */
  height: 52vh;
  width: auto;
  margin: auto;
}

.rec {
  position: relative;
}

.rec:hover {
  animation: rec 1s ease-in-out infinite alternate;
}

.map-btns {
  display: flex;
  width: 28rem;
  justify-content: space-around;
}

.subtitle-location {
  width: 25rem;
  align-self: center;
}

@keyframes rec {
  from {
    opacity: 0.8;
    transform: scale(1);
  }
  to {
    opacity: 0.4;
    transform: scale(1.02);
  }
}

.map {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.map-container {
  width: 60vw;
  height: 60vh;
  font-size: 0.01rem;
}

.map-container-flow {
  width: 40vw;
  height: 30vh;
  font-size: 0.01rem;
  margin: 1rem;
}

.map-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.subtitle-location {
  font-size: 1.2rem;
  margin: 0rem;
  color: rgb(192, 192, 192, 0.7);
  text-align: left;
  margin-left: 3.7rem;
}

.vis-btns {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.map-btns {
  display: flex;
  justify-content: space-between;
}

.map-btns > .btn {
  margin-left: 2.2rem;
  margin-right: 2.2rem;
}

/* loader */
.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.grupped {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
  box-shadow: 10px 10px 220px 50px rgb(140, 0, 199);
  border-radius: 5%;
  background-color: #191d24;
}

.btn-group button:hover {
  font-style: italic;
}

.CanvasVisual {
  margin: 30px;
}

canvas {
  margin: 0 auto;
  width: 30vw;
  height: 30vw;
  background-color: rgba(128, 224, 224, 0);
  outline: #191d24 3px solid;
  box-shadow: 5px 5px 5px rgb(34, 34, 34);
}

.big {
  font-size: 2.5rem;
  color: #64ed14;
  text-shadow: 3px 3px #1d014e;
}

/* extra fancy stuff */
.glowing-border {
  animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073,
      0 0 60px #fd9d02;
  }

  to {
    box-shadow: 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #ff4da6,
      0 0 60px #ff4da6, 0 0 70px #ac4dff;
  }
}

@media only screen and (max-width: 1025px) {
  .central-outer-container {
    display: flex;
    justify-content: end;
    flex-direction: column;
  }

  .central-inner-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .title {
    font-size: 1.8em;
    line-height: 2rem;
    width: 80vw;
  }

  .subtitle {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: regular;
  }
  
  .subtitle-location {
    width: 80vw;
  }

  .app-title {
    width: 20px;
    font-size: 1.5rem;
    margin-left: 4%;
    margin-top: 5rem;
  }

  .app-title-top {
    margin-left: 4.7%;
    width: 20px;
    font-size: 1.5rem;
    margin-top: 5.5rem;
  }

  .huge-ear {
    margin-right: 2rem;
    margin-bottom: 0rem;
  }

  .huge-ear img {
    height: 38vh;
    margin-bottom: 4.2rem;
  }

  .text {
    width: 50%;
    margin-left: 30%;
    text-align: left;
    margin-top: 0rem;
    font-size: 1.2rem;
  }

  canvas {
    width: 280px;
    height: 280px;
  }

  .map-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
  }

  .map-container-flow {
    width: 67vw;
    height: 40vh;
    font-size: 0.01rem;
    margin: 1rem;
  }

  .home-btn {
    margin-bottom: 13rem;
  }

  .vis-btns {
    display: flex;
    align-items: flex-start;
    margin-left: 1rem;
  }

  .map-btns {
    display: flex;
    justify-content: center;
  }

  .map-btns > .btn {
    margin-left: 2.2rem;
    margin-right: 2.2rem;
  }
}
