@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Wallpoet&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Gajraj One', cursive;
  color: rgb(195, 195, 195);
  display: flex;
  flex-direction: column;
  background-image: repeating-linear-gradient(36deg, rgba(14, 14, 14, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 0px, transparent 2px);
}

a {
  color: rgb(195, 195, 195);
}

.grad {
  background-image: radial-gradient(circle, rgba(236, 13, 192, 0.598), rgba(27, 220, 91, 0.202), rgba(194, 255, 245, 0.048));
}

body {
  background-image: linear-gradient(to bottom right, #170537, #d238fd);
}

li {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn {
  border-radius: 25mm;
  border: none;
  text-shadow: 2px 2px #1d014e;
}

.btn-ghost:hover {
  background-color: rgba(128, 224, 224, 0.0);
  font-style: italic;
}

/* nav */
.wallet-adapter-button {
  color: #64ed14 !important;
  text-shadow: 2px 2px #210059 !important;
  background: #e60073 !important;
  font: 20px Gajraj One, cursive !important;
  border-radius: 25mm !important;
  text-transform: lowercase;
}

.wallet-adapter-button:hover {
  font-style: italic !important;
}

.navbar {
  background-color: rgba(128, 224, 224, 0.0);
  height: 10vh;
  text-shadow: 3px 3px #1d014e;
  padding-top: 2%;
  padding-bottom: 2%;
}

.modal {
  background-color: rgba(128, 224, 224, 0.0);
}

.modal-box {
  box-shadow: 10px 10px 160px 140px rgb(34, 34, 34);
  color: rgb(192, 192, 192);
  background-color: rgb(34, 34, 34);
}

.py-4 {
  text-align: justify;
  font-size: 1.2rem;
}

.py-4 h1 {
  font-size: 1.6rem;
  margin-bottom: 2%;
}

.blue {
  color: rgb(0, 255, 251);
  font-size: x-large;
}

/* middle */
.central-outer-container {
  height: 80vh;
  width: 100vw;
  position: relative;
}

.central-inner-container {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 2mm solid #190241; */
}

/* landing */
.app-title {
  width: 80px;
  margin-left: 24%;
  margin-top: -1%;
  font-size: 4.5rem;
  word-break: break-all;
  color: #e60073 ;
  text-shadow: 3px 3px #010101;
  font-style: italic;
  position: absolute;
}

.app-title-top {
  width: 80px;
  margin-left: 24.8%;
  margin-top: -0.2%;
  font-size: 4.5rem;
  word-break: break-all;
  color: #64ed14;
  text-shadow: 3px 3px #010101;
  font-style: italic;
  position: absolute;
}

/* recording */
.rec-helpers {
  width: 80px;
  font-size: large;
  text-align: start;
  position: absolute;
  margin-left: 72%;
  margin-top: 14%;
}

.text {
  opacity: 0.5;
  font-style: italic;
}

.huge-ear img {
  /* border: 2mm solid #190241; */
  height: 52vh;
  width: auto;
}

.rec {
  position: relative;
}

.rec:hover {
  animation: rec 1s ease-in-out infinite alternate;
}

@keyframes rec {
  from {opacity: 0.8;
    transform: scale(1);}
  to {opacity: 0.4;
    transform: scale(1.02);}
}

.map {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); 
}

.map-container {
  width: 60vw;
  height: 60vh;
  font-size: 0.01rem;
}


.grupped {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
  box-shadow: 10px 10px 220px 50px rgb(140, 0, 199);
  border-radius: 5%;
  background-color: #191D24;
}

.btn-group button:hover {
  font-style: italic;
}

.CanvasVisual {
  margin: 30px;
}

canvas {
  margin: 0 auto;
  width: 30vw;
  height: 30vw;
  background-color: #191D24;
}

.vis-btns {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}


.big {
  font-size: 2.5rem;
  color: #64ed14;
  text-shadow: 3px 3px #1d014e;
}

/* extra fancy stuff */
.glowing-border {
  animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #fd9d02;
  }

  to {
    box-shadow: 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ac4dff;
  }
}

@media only screen and (max-width: 768px) {
  .central-inner-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .app-title {
    width: 20px;
    font-size: 3.5rem;
    margin-left: 0%;
    margin-top: -16.2%;
  }

  .app-title-top {
    margin-left: 0.7%;
    width: 20px;
    font-size: 3.5rem;
    margin-top: -14.5%
  }

  .rec-helpers {
    margin-left: 82%;
    margin-top: 30%;
    width: 60px;
    text-align: end;
    font-size: medium;
  }
  .huge-ear img {
    height: 42vh;
    padding-left: 20px;
  }

  canvas {
    width: 60vw;
    height: 45vh;
  }
}