@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Wallpoet&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right,#2D0376, #b538fd);
  font-family: 'Gajraj One', cursive;
}


.app-title {
  width: 30px;
  font-size: 4rem;
  word-break: break-all;
}

.wallet-adapter-button {
  color: #ffffff !important;
  background:#313641 !important;
  padding: 0px 16px !important;
  font: 14px Gajraj One, cursive !important;

}

.navbar {
  background-color: rgba(128, 224, 224, 0.0);
}

.l{
  /* height: 90%; */
  display: flex;
  justify-content: center;
}

.listen {
  max-height: 80vh;
  max-width: 80vw;
  transition: transform .2s; 
}

.rounded-full{
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow:  0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #fd9d02;
  }
  
  to {
    box-shadow:  0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ac4dff;
  }
}

.listen:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.menu {
  background-color: rgba(246, 255, 255, 0.1);
}


@media screen and (max-width: 1000px)  {
  .l {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 500px)  {
  .l {
    margin-top: 30%;
    margin-bottom: 30%;
    margin-left: 10%;
  }
}



